/*
  提供 Mixin 风格的 CSS
*/
.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block !important;
}

.d-none {
  display: none !important;
}

.d-xs-none {
  @media only screen and (max-width: 575.98px) {
    display: none !important;
  }
}


.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-start {
  justify-content:flex-start
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-self-start {
  align-items: flex-start;
}

.align-self-end {
  align-items: flex-end ;
}

.align-self-center {
  align-items: center ;
}

.align-self-baseline {
  align-items: baseline;
}

.align-self-stretch {
  align-items: stretch;
}

.align-content-end {
  align-content:flex-end;
}


.w-1_3 {
  width: cacl( 100% / 3 );
}

.w-10 {
  width: 10% !important;
}
.w-15 {
  width: 15% !important;  
}
.w-30 {
  width: 30% !important;
}
.w-25 {
  width: 25% !important;
}

.w-42 {
  width: 42% !important;
}
.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}

.font-size-2 {
  font-size: 2vmin;
}

.font-size-1 {
  font-size: 1vmin;
}

.font-size-1p5 {
  font-size: 1.5vmin;
}

.w-xs-1_3 {
  @media only screen and (max-width: 575.98px) {
    width: cacl( 100% / 3 );
  }
}

.w-xs-25 {
  @media only screen and (max-width: 575.98px) {
    width: 25%;
  }
}

.w-xs-50 {
  @media only screen and (max-width: 575.98px) {
    width: 50%;
  }
}

.w-xs-75 {
  @media only screen and (max-width: 575.98px) {
    width: 75%;
  }
}

.w-xs-100 {
  @media only screen and (max-width: 575.98px) {
    width: 100%;
  }
}
.opacity-0p1 {
  opacity: 0.1;
}
.align-top {
  vertical-align: top;
}

.align-middle {
  vertical-align: middle;
}

.align-bottom {
  vertical-align: bottom;
}

.position-relative {
  position: relative !important;
}
.position-absolute {
  position: absolute !important;
}
.color-white {
  color: white;
}

.color-deepskyblue{
  color: DeepSkyBlue !important;
}
.color-red {
  color: red;
}
.color-black {
  color: #555 !important;  
}

.border-orange {
  border: 1px solid #fba75e !important;
  color: #fba75e !important;
}

.background-orange-0 {
  background: #fba75e !important;
  color: #fff;
}

.background-blue-1 {
  background: #1fa6e8 !important;
  color: #fff;
}

.background-cyan-2 {
  background: #08bf02 !important;
  color: #fff;
}
.background-brown {
  background: #313242 !important;
  color: #fff !important;
}

.background-purple-3 {
  background: #8585fb;
  color: #fff;
}

.background-beige {
  background: #fcf9f2;
}

.background-blackish-green-4 {
  background: #46bd95;
  color: #fff;
}

.background-blackish-pink-5 {
  background: #e26bab;
  color: #fff;
}

.background-blackish-yellow-6 {
  background: #f2b653;
  color: #fff;
}

.background-blackish-celadon-7 {
  background: #628ef3;
  color: #fff;
}

.background-blackish-prasinous-8 {
  background: #5ec642;
  color: #fff;
}

.background-blackish-red-9 {
  background: #f77e7e;
  color: #fff;
}

.background-red {
  background: red;
}

.background-blue {
  background: #0092dd;
}

.background-green {
  background: #07bf00;
}

.background-gray {
  background: gray;
}

.rounded-circle {
  border-radius: 50%;
}

.text-danger {
  color: red !important;
}
.font-weight-bold {
  font-weight: bold;
}
.font-weight-normal {
  font-weight: normal;
}
.font-weight-light {
  font-weight: lighter;
}

.th-width4 {
  width:40vmin !important;
}
.h-4 {
  height:40px !important;
}

.font-size-2p5 {
  font-size: 2.5vmin;
}
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.p-1 {
  padding: 1vmin;
}

.p-2 {
  padding: 2vmin;
}

.p-3 {
  padding: 3vmin;
}

.p-4 {
  padding: 4vmin;
}

.pl-1 {
  padding-left: 1vmin;
}
.pl-2 {
  padding-left: 2vmin;
}

.pl-3 {
  padding-left: 3vmin;
}

.pl-4 {
  padding-left: 4vmin;
}

.pr-1 {
  padding-right: 1vmin;
}
.pr-2 {
  padding-right: 2vmin;
}

.pr-3 {
  padding-right: 3vmin;
}

.pr-4 {
  padding-right: 4vmin;
}


.pb-0p5 {
  padding-bottom: 0.5vmin;
}

.pb-1 {
  padding-bottom: 1vmin;
}

.pb-2 {
  padding-bottom: 2vmin;
}

.pb-3 {
  padding-bottom: 3vmin;
}

.pb-4 {
  padding-bottom: 4vmin;
}

.pt-1 {
  padding-top: 1vmin;
}

.pt-2 {
  padding-top: 2vmin;
}

.pt-3 {
  padding-top: 3vmin;
}

.pt-4 {
  padding-top: 4vmin;
}

.m-0 {
  margin: 0 !important;
}
.m-1 {
  margin: 1vmin !important;
}
.m-2 {
  margin: 2vmin !important;
}
.m-3 {
  margin: 3vmin !important;
}
.m-4 {
  margin: 4vmin !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 1vmin !important;
}

.mt-2 {
  margin-top: 2vmin !important;
}
.mg-l-2 {
  margin-left:2vmin 
}
.mt-xs-1 {
  @media only screen and (max-width: 575.98px) {
    margin-top: 1vmin !important;
  }
}

.mt-xs-2 {
  @media only screen and (max-width: 575.98px) {
    margin-top: 2vmin !important;
  }
}

.mt-xs-3 {
  @media only screen and (max-width: 575.98px) {
    margin-top: 3vmin !important;
  }
}

.mt-xs-4 {
  @media only screen and (max-width: 575.98px) {
    margin-top: 4vmin !important;
  }
}

.mt-xs-5 {
  @media only screen and (max-width: 575.98px) {
    margin-top: 5vmin !important;
  }
}

.mt-sm-1 {
  @media only screen and (min-width: 576px) and (max-width: 767.98px) {
    margin-top: 1vmin !important;
  }
}

.mt-sm-2 {
  @media only screen and (min-width: 576px) and (max-width: 767.98px) {
    margin-top: 2vmin !important;
  }
}

.mt-sm-3 {
  @media only screen and (min-width: 576px) and (max-width: 767.98px) {
    margin-top: 3vmin !important;
  }
}

.mt-sm-4 {
  @media only screen and (min-width: 576px) and (max-width: 767.98px) {
    margin-top: 4vmin !important;
  }
}

.mt-md-1 {
  @media only screen and (min-width: 768px) and (max-width: 991.98px) {
    margin-top: 1vmin !important;
  }
}

.mt-md-2 {
  @media only screen and (min-width: 768px) and (max-width: 991.98px) {
    margin-top: 2vmin !important;
  }
}

.mt-md-3 {
  @media only screen and (min-width: 768px) and (max-width: 991.98px) {
    margin-top: 3vmin !important;
  }
}

.mt-md-4 {
  @media only screen and (min-width: 768px) and (max-width: 991.98px) {
    margin-top: 4vmin !important;
  }
}

.mt-lg-1 {
  @media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    margin-top: 1vmin !important;
  }
}

.mt-lg-2 {
  @media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    margin-top: 2vmin !important;
  }
}

.mt-lg-3 {
  @media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    margin-top: 3vmin !important;
  }
}

.mt-lg-4 {
  @media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    margin-top: 4vmin !important;
  }
}

.mt-xl-1 {
  @media only screen and (min-width: 1200px) and (max-width: 1599.98px) {
    margin-top: 1vmin !important;
  }
}

.mt-xl-2 {
  @media only screen and (min-width: 1200px) and (max-width: 1599.98px) {
    margin-top: 2vmin !important;
  }
}

.mt-xl-3 {
  @media only screen and (min-width: 1200px) and (max-width: 1599.98px) {
    margin-top: 3vmin !important;
  }
}

.mt-xl-4 {
  @media only screen and (min-width: 1200px) and (max-width: 1599.98px) {
    margin-top: 4vmin !important;
  }
}

.mb-1 {
  margin-bottom: 1vmin !important;
}

.mb-2 {
  margin-bottom: 2vmin !important;
}

.mb-3 {
  margin-bottom: 3vmin !important;
}

.mb-4 {
  margin-bottom: 4vmin !important;
}

.mb-xs-1 {
  @media only screen and (max-width: 575.98px) {
    margin-bottom: 1vmin !important;
  }
}

.mb-xs-2 {
  @media only screen and (max-width: 575.98px) {
    margin-bottom: 2vmin !important;
  }
}

.mb-xs-3 {
  @media only screen and (max-width: 575.98px) {
    margin-bottom: 3vmin !important;
  }
}

.mb-xs-4 {
  @media only screen and (max-width: 575.98px) {
    margin-bottom: 4vmin !important;
  }
}

.mb-xs-5 {
  @media only screen and (max-width: 575.98px) {
    margin-bottom: 5vmin !important;
  }
}

.mb-sm-1 {
  @media only screen and (min-width: 576px) and (max-width: 767.98px) {
    margin-bottom: 1vmin !important;
  }
}

.mb-sm-2 {
  @media only screen and (min-width: 576px) and (max-width: 767.98px) {
    margin-bottom: 2vmin !important;
  }
}

.mb-sm-3 {
  @media only screen and (min-width: 576px) and (max-width: 767.98px) {
    margin-bottom: 3vmin !important;
  }
}

.mb-sm-4 {
  @media only screen and (min-width: 576px) and (max-width: 767.98px) {
    margin-bottom: 4vmin !important;
  }
}

.mb-md-1 {
  @media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    margin-bottom: 1vmin !important;
  }
}

.mb-md-2 {
  @media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    margin-bottom: 2vmin !important;
  }
}

.mb-md-3 {
  @media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    margin-bottom: 3vmin !important;
  }
}

.mb-md-4 {
  @media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    margin-bottom: 4vmin !important;
  }
}

.mb-lg-1 {
  @media only screen and (min-width: 1200px) and (max-width: 1919.98px) {
    margin-bottom: 1vmin !important;
  }
}

.mb-lg-2 {
  @media only screen and (min-width: 1200px) and (max-width: 1919.98px) {
    margin-bottom: 2vmin !important;
  }
}

.mb-lg-3 {
  @media only screen and (min-width: 1200px) and (max-width: 1919.98px) {
    margin-bottom: 3vmin !important;
  }
}

.mb-lg-4 {
  @media only screen and (min-width: 1200px) and (max-width: 1919.98px) {
    margin-bottom: 4vmin !important;
  }
}

.mb-xl-1 {
  @media only screen and (min-width: 1200px) and (max-width: 1599.98px) {
    margin-bottom: 1vmin !important;
  }
}

.mb-xl-2 {
  @media only screen and (min-width: 1200px) and (max-width: 1599.98px) {
    margin-bottom: 2vmin !important;
  }
}

.mb-xl-3 {
  @media only screen and (min-width: 1200px) and (max-width: 1599.98px) {
    margin-bottom: 3vmin !important;
  }
}

.mb-xl-4 {
  @media only screen and (min-width: 1200px) and (max-width: 1599.98px) {
    margin-bottom: 4vmin !important;
  }
}

.ml-1 {
  margin-left: 1vmin !important;
}

.ml-2 {
  margin-left: 2vmin !important;
}

.ml-3 {
  margin-left: 3vmin !important;
}

.ml-4 {
  margin-left: 4vmin !important;
}
.ml-0p5 {
  margin-left: 0.5vmin !important;
}

.mr-0p5 {
  margin-right: 0.5vmin !important;
}

.mr-1 {
  margin-right: 1vmin !important;
}

.mr-2 {
  margin-right: 2vmin !important;
}

.mr-3 {
  margin-right: 3vmin !important;
}

.mr-4 {
  margin-right: 4vmin !important;
}

.z-0 {
  z-index: 0;
}
.z-1000 {
  z-index: 1000;
}

.z-1001 {
  z-index: 1001;
}

.z-1002 {
  z-index: 1002;
}

.z-1003 {
  z-index: 1003;
}

.z-xs-1001 {
  
  @media only screen and (max-width: 575.98px) {
    z-index: 1001;
  }
} 
.z-sm-0 {
  @media only screen and (min-width: 576px) and (max-width: 767.98px) {
    z-index: 0;
  }
}

.color-white {
  color: #ffffff !important;
}

.background-white {
  background-color: #ffffff;
}

.backgroung-gray {
  background: #E7EAED;
}
.overflow-hidden {
  overflow: hidden;
}
